/*******************
	test-2 css
*******************/
*{
	padding: 0;
	margin: 0;
}

.test-2 {
	width: 500px;
	height: 500px;
	background: #62306D;
	margin: 0 auto;
}
.text-2-iner {
	height: 400px;
	width: 450px;
	border: 1px solid #000000;
	position: relative;
}
.test-2-part-1 {
	width: 100px;
	height: 100px;
	background: #F7EC7D;
	border-radius: 50px 50px 0px 0px;
	position: absolute;
	left: 16%;
	top: 40%;
	transform: rotate(180deg);
}
.test-2-part-2 {
	width: 100px;
	height: 100px;
	background: #F7EC7D;
	border-radius: 50px 50px 0px 0px;
	position: absolute;
	left: 38%;
	top: 15%;
}
.test-2-part-3 {
	width: 100px;
	height: 100px;
	background: #F7EC7D;
	border-radius: 50px 50px 0px 0px;
	position: absolute;
	top: 40%;
	left: 60%;
	transform: rotate(180deg);
}

